* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*-------------------------------------------------------------> body and h2 */
body {
  height: 100vh;
  display: flex;
  background: radial-gradient(circle farthest-side, #f8f8fc, #0000bc);
}


h2 {
  margin-left: 390px;
  font-size: 50px;
  margin-top: 10px;
}

/*------------------------------------------------------>  cards front-face back-face */ 

.memory-game {
  width: 600px;
  height: 525px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px; /*property is used to give a 3D-positioned element some perspective */
  margin-left: 325px;
  margin-top: 10px;
}

.memory-card {
  width: calc(25% - 10px); /* calculation to be used as the property value*/
  height: calc(33.333% - 10px); /*calculation to be used as the property value */
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d; /*property specifies how nested elements are rendered in 3D space. */
  transition: transform .5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 12px;
  position: absolute;
  border-radius: 50px;
  background: #1C7CCC;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}



/*----------------------------------------------------------------------> Media Queries */
@media (max-width:928px) {
   .memory-game {
    width: 570px;
    height: 570px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 500px;
    margin-left: 100px;
    margin-top: 65px;

  }

  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 25px;
    background: #1C7CCC;
    backface-visibility: hidden;
  }

  h2 {
    margin-left: 35px;
    font-size: 70px;
    margin-top: 75px;
  
}



@media (max-width:768px) {
  .memory-game {
    width: 570px;
    height: 570px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 500px;
    margin-left: 100px;
    margin-top: 65px;

  }

  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 25px;
    background: #1C7CCC;
    backface-visibility: hidden;
  }

  h2 {
    margin-left: 35px;
    font-size: 70px;
    margin-top: 75px;
  }

  @media (max-width:572px) {
    .memory-game {
    width: 375px;
    height: 375px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 250px;
    margin-top: 60px;
    margin-left: 25px;
    }

    .front-face,
    .back-face {
      width: 100%;
      height: 100%;
      padding: 3px;
      position: absolute;
      border-radius: 25px;
      background: #1C7CCC;
      backface-visibility: hidden;
    }
    
 
    h2 {
    margin-left: 40px;
    margin-top: 55px;
    font-size: 35px;
    }
    
    /*-@media* (sm)devices-Phones->(min-width:576px) (md) tablets (min-width:768px) (lg) desktop (min-width:992px) (xl) (min-width:1200px) /
